* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media screen and (min-width:1300px) {
    body {
        display: flex;
        justify-content: center;
    }

    nav {
        width: 1300px;
    }

    main {
        width: 1300px;
    }

    footer {
        width: 1300px;
    }
}




